<h2>ログイン</h2>

<%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>
  <div>
    <%= form.email_field :email, placeholder: "メールアドレス" %>
  </div>
  <div>
    <%= form.password_field :password, placeholder: "パスワード" %>
  </div>

  <div>
    <%= form.submit "ログイン", class: "btn btn-primary"%>
  </div>
<% end %>
